llama-index
llama-index-core
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss
langchain
pydantic
unstructured[all-docs]
faiss-cpu
pytesseract
sentence-transformers
streamlit
pyPDF2